<table>
  <tr>
    <%= form_for(@search, url: computers_path, method: :get, html: {class: "form-inline"}) do |f| %>
      <td><%= f.label :machine_cabinet %></td>
      <td><%= f.label :model %></td>
      <td><%= f.label :System_administrator %></td>
      <td><%= f.label :switch %></td>
      <td><%= f.label :location %></td>
    <% end %>
  </tr>
  <tr>
    <%= form_for(@search, url: computers_path, method: :get, html: {class: "form-inline"}) do |f| %>

      <td>
      <%= collection_select(:search, :machine_cabinet_id, MachineCabinet.all, :id, :number, {include_blank: ''}) %>
      </td>

      <td>
      <%= collection_select(:search, :model_id, Model.all, :id, :name, {include_blank: ''}) %>
      </td>

      <td>
      <%= collection_select(:search, :sa_id, Sa.all, :id, :name, {include_blank: ''}) %>
      </td>

      <td>
      <%= collection_select(:search, :switch_id, Switch.all, :id, :name, {include_blank: ''}) %>
      </td>

      <td>
      <%= collection_select(:search, :location_id, Location.all, :id, :name, {include_blank: ''}) %>
      </td>

      <td>
      <%= f.submit "search", class: "btn btn-large btn-primary" %>
      </td>
    <% end %>
  </tr>
